@font-face {
  font-family: "MaruBuri-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #3791db;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  border-bottom: 1px solid grey;
}

p {
  font-family: "MaruBuri-Regular", serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 50px;
}

ol {
  font-family: "MaruBuri-Regular", serif;
  list-style-type: none;
  border: 1px solid gray;
  width: 280px;
  padding: 50px;
  background-color: lightgray;
}

ul {
  font-family: "MaruBuri-Regular", serif;
}

dl {
  font-family: "MaruBuri-Regular", serif;
}

table {
  font-family: "MaruBuri-Regular", serif;
  border-collapse: collapse;
}

a {
  color: #3791db;
  text-decoration: none;
  /* font-size: 110%; */
}

a:hover {
  color: hotpink;
  text-decoration: line-through;
}

th,
td {
  border-bottom: 1px solid gray;
}

table {
  /* border: 1px solid gray; */
  border-top: 1px solid gray;
}

/* 아래 태그는 테두리를 그리는데 관여하는 태그가 아니다(대충) */
/* thead, tbody, tr  */

img {
  width: 500px;
}

video {
  width: 500px;
}

iframe {
  width: 500px;
  height: 300px;
}
